body{
    background-image: url(https://westeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Falqudscollege-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!4kW0Mz1ymE6DvXc0RHm89r7i7SSJUsJOkA-56aojf1AKR62oXKimQaAG9ivOPT6d%2Fitems%2F01W4C7VWHHWDPBEPU55JE3BBNQYH6MEZZT%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYWxxdWRzY29sbGVnZS1teS5zaGFyZXBvaW50LmNvbUBhMTYyYzUzMi03YTBjLTQ2NDUtOTZmZC0yMGQwMTljZjRlNWEiLCJpc3MiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAiLCJuYmYiOiIxNjIyNzk3MjAwIiwiZXhwIjoiMTYyMjgxODgwMCIsImVuZHBvaW50dXJsIjoiQi9xc0M5cVUzVjZORCtLVm4zdTFETkhwbXo0ZFQrakI4cVl0eDJjUE1mWT0iLCJlbmRwb2ludHVybExlbmd0aCI6IjEyMyIsImlzbG9vcGJhY2siOiJUcnVlIiwidmVyIjoiaGFzaGVkcHJvb2Z0b2tlbiIsInNpdGVpZCI6Ik16TmlORFExWlRJdE56SXpaQzAwWlRrNExUZ3pZbVF0Tnpjek5EUTBOemxpWTJZMiIsIm5hbWVpZCI6IjAjLmZ8bWVtYmVyc2hpcHx1cm4lM2FzcG8lM2Fhbm9uIzU4NWM0MWVmNmM1NGFlNmRiMTgxMTU2MzdiNDAyMWRiY2MyOWViNDY5YjU0ZTJhYzVkZGRiZDRlZGM1MTFiZGUiLCJuaWkiOiJtaWNyb3NvZnQuc2hhcmVwb2ludCIsImlzdXNlciI6InRydWUiLCJjYWNoZWtleSI6IjBoLmZ8bWVtYmVyc2hpcHx1cm4lM2FzcG8lM2Fhbm9uIzU4NWM0MWVmNmM1NGFlNmRiMTgxMTU2MzdiNDAyMWRiY2MyOWViNDY5YjU0ZTJhYzVkZGRiZDRlZGM1MTFiZGUiLCJzaGFyaW5naWQiOiJtYzZlSTRUUU5FKzFmQTNCeWk4VW13IiwidHQiOiIwIiwidXNlUGVyc2lzdGVudENvb2tpZSI6IjIifQ.Y2JqcnZBbithT1lXUytkYWNTUVZzTWRWRWpySDNGV3g3T0xxU090alhsOD0&encodeFailures=1&width=220&height=146&srcWidth=1131&srcHeight=750);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: 'Fredoka One', cursive;

}   



table, th, td {
    border: 1px solid rgb(168, 33, 33);
  }

  table{
     
     border-color:rgba(255, 229, 72, 255) ;
     border-width: 0px;
     border-style: solid;
     /* border-radius: 20px; */
    background-color: rgb(241, 246, 170);
        border-collapse: collapse;
      
margin-left:50%;
position: relative;
bottom: 200px;
right: 180px;

  }
 


  header{
      background-color: rgba(255, 229, 72, 255);
      text-align: center;
      color: red;
      font-family: 'Fredoka One', cursive;
      height: 50px;
      padding: 30px  50px 50px;   
      width: auto;

      
  }

  footer{
    background-color: rgba(255, 229, 72, 255);
    text-align: center;
    color: red;
    font-family: 'Fredoka One', cursive;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 50px 0 0 0;
  }

  fieldset{
      margin: 50px 100px 10px ;
      background-color: rgba(255, 229, 72, 255);
      width: 150px;
 height: 200px;
 } 
 label{
text-align: center;
color: red;
 }
 input{
     border-radius: 5px;
     width: 190px;
 }
 select{
    width: 190px;
 }
 #submit{
     color: white;
     background-color: red;
 }
 